<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="card-body">
			<div class="text-wrap p-lg-6">
				<h2 class="mt-0 mb-4">Introduction</h2>
				<p>spring boot framework를 기반으로 SI업무에 사용하는 여러 스킬들을 접목 시켜나갈 예정입니다.</p>
				<table class="col-md-6">
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
					<tr>
						<td>FrameWordk</td>
						<td>Spring Boot</td>
					</tr>
					<tr>
						<td>Security</td>
						<td>Spring Security</td>
					</tr>
					<tr>
						<td>Data</td>
						<td>Spring Data (JPA)</td>
					</tr>
					<tr>
						<td rowspan="4">FrontEnd</td>
						<td>Thymeleaf</td>
					</tr>
					<tr>
						<td>Bootstrap</td>
					</tr>
					<tr>
						<td>DataTables</td>
					</tr>
					<tr>
						<td>Handsontable</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>
</html>


