<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="nav">
	<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg order-lg-first">
					<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
						<li class="nav-item"><a href="/" class="nav-link"> <i
								class="fe fe-home"></i> About
						</a></li>
						<li class="nav-item dropdown">
							<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
							<i class="fe fe-calendar"></i> Components</a>
							<div class="dropdown-menu dropdown-menu-arrow">
								<a href="/datatables" class="dropdown-item ">Data Tables</a>
								<!-- <a href="./icons.html" class="dropdown-item ">Icons</a>
								<a href="./store.html" class="dropdown-item ">Store</a>
								<a href="./blog.html" class="dropdown-item ">Blog</a>
								<a href="./carousel.html" class="dropdown-item ">Carousel</a> -->
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
</html>